body { 
	max-width: 1080px; 
	margin: 0 auto !important; 
	float: none !important; 
}

#header {
    display: flex;
    align-content: space-between;
}

h1 {
    flex: 50%;
}

#user_panel {
    flex-flow: column;
    margin: 30px;
    vertical-align: middle;
}

#cart_item_count {
    color: red;
    font-size: 14pt;
}

table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}

