<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Admin Dashboard</title>
</head>
<body>
    <div id=header>
        <h1>Operating Admin [{{ request.session.admin_email }}]</h1>
        <div id="user_panel">
            <a href="/admin/logout">Logout</a>
        </div>
    </div>
    <div id="container">
        <div id="products">
            <h2>Add new Product</h2>
            <form action="/product/add" method="post">
                {% csrf_token %}
                <label>Product Name</label> <input name="product_name">
                <label>Price</label> <input style="width:50px" name="price" type="number" step="0.01">
                <label>Category</label>
                <select name="category">
                    <option value="shoes">Shoes</option>
                    <option value="dress">Dress</option>
                    <option value="bags">Bags</option>
                    <option value="men">Men</option>
                </select>
                <br>
                <label>Image Link(front)</label><input name="front_pic"><br>
                <label>Image Link(back)</label><input name="back_pic"><br>
                <label>Description</label><br>
                <textarea name="desc"></textarea><br>

                <button>Add new Product</button>
            </form>

            <h2>Product Overview</h2>
            <table>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Image</th>                
                </tr>
                {% for product in all_products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td><img class="pictures" src="../static/pictures/{{ product.front_pic }}"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div id="orders">
            <h2>Pending Orders</h2>
            <table>
                <tr>
                    <th>Order Number</th>
                    <th>Customer Name</th>
                    <th>Order Placed Time</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                    <th>Options</th>
                </tr>

            </table>
            <h2>Order History</h2>
            <table>
                <tr>
                    <th>Order Number</th>
                    <th>Customer Name</th>
                    <th>Order Placed Time</th>
                    <th>Total Amount</th>
                    <th>Order Status</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>