<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/women.css' %}">
    <title>Women</title>
</head>
<body>
    <div id="header">
        <h1></h1>
        <div id="user_panel">
            <a href="/login">Login/Registration</a>
        </div>
    </div>
    <div id="main">
        <h2>Women Section</h2>
        <div id="container">
            <div id="navigation">
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Dress</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Bags</a></li>
                </ul>
            </div>
            <div id="main_content">
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes1a.png" alt-src="../static/pictures/shoes1b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes2a.png" alt-src="../static/pictures/shoes2b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes3a.png" alt-src="../static/pictures/shoes3b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes4a.png" alt-src="../static/pictures/shoes4b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes5a.png" alt-src="../static/pictures/shoes5b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes6a.png" alt-src="../static/pictures/shoes6b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes7a.png" alt-src="../static/pictures/shoes7b.png">
                </div>
                <div class='items'>
                    <img class="display_img" src="../static/pictures/shoes8a.png" alt-src="../static/pictures/shoes8b.png">
                </div>
            </div>
        </div>
    </div>
</body>
</html>